body {
  margin: 0;
  padding: 0; 
  font-family: cursive;
}

a {
  text-decoration: none;
  color: black; }

ul {
  list-style: none;
  padding: 0; }

.header-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  margin-bottom: 15px; }
.header-top__text{
  line-height: 33px;
}
.header-top__left {
  display: flex;
  margin: 15px 50px;
  opacity: 50%; }

.header-top__item {
  margin-right: 20px; }

.header-top__right {
  display: flex; }

.header-top__right-icon {
  border-right: 1px solid gray;
  padding: 15px 10px; }

.right__icon {
  padding: 15px; }

.header-top__button {
  padding: 16px;
  border: none;
  background-color: white; 
  line-height: 31px;
}

.fa-solid {
  padding-right: 15px; }

.header-top__button--login:hover {
  opacity: 0.5;
  cursor: pointer; }

.header-top__button--signout:hover {
  opacity: 0.5;
  cursor: pointer; }

.header-bottom {
  display: flex;
  justify-content: space-around;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0.607); 
  box-shadow: 10px 10px rgba(128, 128, 128, 0.291);
}

.header-bottom__logo {
  font-size: 40px;
  padding: 10px; }

.logo-img {
  width: 80px; }

.company-name {
  color: blue;
  font-family: Georgia; }

.header-bottom__nav > ul {
  display: flex;
  margin-right: 50px; }

.header-bottom__nav > ul > li {
  padding: 10px;
  font-weight: 600;
  color: black;
  opacity: 1; }

nav li {
  border-bottom: none;
  padding: 5px; }

nav li:hover a {
  color: #f97150; }

nav li:last-child:hover {
  border-bottom: none;
  opacity: 1; }

.footer-top {
  background-color: #222222;
  height: 180px;
  padding: 80px 140px;
  display: flex;
  justify-content: space-between;
  color: white; }

.infor__title {
  color: #f97150;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.infor__text {
  color: white;
  font-size: 18px;
  margin-bottom: 20px; }

.fa-icon {
  margin-left: 5px; }

.footer-top__title {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.footer-top ul > li {
  margin-bottom: 20px; }

.footer-top li > a {
  color: rgba(255, 255, 255, 0.647); }

.footer-top li > a:hover {
  color: #f97150; }

.footer-top__content {
  width: 195px; }

.footer-bottom {
  background-color: #181818;
  color: #888181;
  display: flex;
  justify-content: space-between;
  padding: 45px 140px; }

.footer-bottom__follow a {
  color: white; }

.findplace_background {
  height: 550px;
  width: 100%; }

.content_findplace {
  height: 550px;
  position: relative;
  color: white; }

.cotent_findplace-text1 {
  font-weight: 600;
  font-size: 52px;
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center; }

.cotent_findplace-text2 {
  font-weight: 600;
  font-size: 21px;
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center; }

.form_find {
  position: absolute;
  top: 55%;
  width: 100%;
  text-align: center; }

.input_keywords {
  position: relative;
  display: inline-block; }

.icon_after {
  position: absolute;
  right: 10px;
  top: 40%;
  color: #000; }

#find_keyword {
  padding: 14px 40px 14px 22px;
  height: 37px;
  width: 65%;
  margin-right: -8px; }

#combo-box1 {
  padding: 14px 40px 14px 22px;
  height: 69px;
  width: 15%; }

#combo-box2 {
  padding: 14px 40px 14px 22px;
  height: 69px;
  width: 15%; }

option:focus {
  background-color: #222222;
  color: white; }

.find_submit {
  padding: 14px 22px;
  background-color: #f97150;
  border: none;
  color: white;
  height: 69px;
  width: 15%; }

.content_description {
  width: 70%;
  height: 200px;
  margin-left: auto;
  margin-right: auto; }

.content_advantage {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  background-color: #f97150;
  color: white;
  margin-top: -100px;
  padding-top: 50px;
  position: absolute; 
}

.content_advantage-box {
  width: 27%;
  margin-bottom: 50px;
  display: flex; }

.box-icon {
  font-size: 44px;
  margin-top: 30px;
  margin-right: 10px; }

.box-text .description {
  font-size: 14px; }

.contain-tour--body {
  width: 370px;
  box-shadow: 4px 10px 10px 9px rgba(0, 0, 0, 0.192);
  margin-bottom: 80px; }

.contain-tour {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto; 
  width: 70%;
}

.tour-img {
  width: 370px;
  height: 270px; 
}

.tour-information {
  position: relative;
  padding-bottom: 30px; 
}

.tour-bestseller {
  position: absolute;
  font-weight: 600;
  color: white;
  background-color: #f97150;
  padding: 5px 15px;
  top: -20px;
  left: 20px; 
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px; 
}

.tour_name {
  padding-left: 20px;
  padding-top: 20px; 
}

.tour_duration {
  color: rgba(0, 0, 0, 0.425);
  font-size: 18px;
  padding-left: 20px;
  padding-top: 10px; 
}

.tour_rating{
  font-size: 18px;
  padding-left: 20px;
  padding-top: 10px;
}
.tour_rating i{
  color: yellow;
}
.tour_price {
  position: absolute;
  text-align: right;
  right: 20px;
  bottom: 35px; 
}

.tour_price-cost {
  color: rgba(0, 0, 0, 0.425);
  text-decoration: line-through; 
}

.tour_price-current {
  color: #f97150;
  font-weight: bold;
  font-size: 30px; 
}
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #f97150;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  border: none;
  background: none;
  font-weight: bold;
}

.login-box button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box button span {
  position: absolute;
  display: block;
}

.login-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%; 
  }
}
.button{
  display: flex;
  justify-content: space-around;
}
.error_message{
  padding-left: 20px;
  font-weight: 900;
  color: red;
  background: aliceblue;
  display: none;
}
#form-reg {
  width: 30%;
  margin: 100px auto;
  text-align: left;
  padding: 20px;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
}

label {
  width: 140px;
  display: inline-block;
}

input[type="text"], 
input[type="email"],
input[type="password"] {
  width: 300px;
  padding: 5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
.input{
  margin-bottom: 20px;
}
.submit {
  padding: 8px 16px;
  margin-top: 15px; 
  border: none;
  background-color: #4CAF50;
  color: white;
  width: 312px;
  margin-left: 150px;
}
.submit:hover{
  cursor: pointer;
}
.error{
  margin-top: 10px;
  margin-left: 160px;
  font-size: 18px;
  font-weight: 600;
  color: red;
}
.tour_img-cover img{
  height: 600px;
  width: 100%;
}
.tour_info{
  margin-left: 180px;
  margin-top: 20px;
  width: 40%;
}
.tour_name1{
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 15px;
}
.tour_infor-basic i{
  color : yellow;
  margin-bottom: 10px;
}
.tour_summary{
  display: grid;
  grid-template-columns: auto auto;
}
.tour_summary i{
  color: #f97150;
}
.mgb-20{
  margin-bottom: 20px;
}
.line{
  height: 40px;
  border-top: 1px solid rgba(128, 128, 128, 0.17);
}
.title{
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
}
.content{
  font-size: 18px;
}
.mb-20{
  margin-bottom: 20px;
}
.pl-20{
  padding-left: 20px;
}
.date-start{
  margin-bottom: 20px;
  font-weight: bold;
}
.imgTour {
  height: 100%;
}
.imgTour img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contain-review{
  display: flex;
}
.content .user_img{
  width: 150px;
}
.dpfl{
  display: flex;
}
.review_content{
  width: 40%;
  padding: 10px;
  background-image: linear-gradient(-45deg, #d32f2f, transparent);
}
.three-reviews{
  display: flex;
  justify-content: center;
  width: 200%;
  margin-bottom: 50px;
}
.all-reviews{
  display: none;
  grid-template-columns: auto auto auto;
  width: 200%;
  margin-bottom: 20px;
}
.mb-20{
  margin-bottom: 20px;
}
#getAll{
 margin-bottom: 20px;
 margin-left: 100%;
}
#reduce{
  display: none;
  margin-bottom: 20px;
  margin-left: 100%;
}
.slide-container {
  position: relative;
  width: 200%;
  height: 0;
  padding-bottom: 100%; /* Tỷ lệ khung hình vuông (1:1) */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.prev-button1,
.next-button1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background-color: transparent;
  border: none;
  color: #ff0303;
  cursor: pointer;
}

.prev-button1 {
  left: 10px;
}

.next-button1 {
  right: 10px;
}
.rating i{
  color: yellow;
}
.username{
  font-weight: bold;
}
.contain_content{
  position: relative;
}
.book_tour{
  position: absolute;
  top: 500px;
  right: 20%;
  background-color: white;
  padding: 30px 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 1px gray;
}
.book_title{
  font-size: 24px !important;
  color: #f97150 ;
  font-weight: bold;
  text-align: center;
}
.book_tour div{
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: bold;
}
.book_tour div i{
  padding-right: 20px;
}
.book_tour span{
  color: red;
}
.book_tour select{
  padding: 10px;
    font-size: 18px;
    width: 200px;
    border-radius: 10px;
}
.book_note textarea{
  width: 400px;
  height: 150px;
}
#checkPolicy{
  float:left;
}
.book_check p{
  width: 400px;
}
#btnPayNow{
  width: 100%;
  padding: 15px;
  border: none;
  background-color: gray;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: not-allowed;
}
#btnLogin{
  width: 100%;
  padding: 15px;
  border: none;
  background-color: #f97150;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.allTours_title{
  text-align: center;
  font-size: 46px;
  font-weight: bold;
  margin: 60px 0px;
  color: #f97150;
}
