<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
</head>
<body>
    <div class="login-box">
        <h2>Forget Password</h2>
        <form>
        <div class="user-box">
            <input type="text" name="email" required="">
            <label>Email</label>
        </div>
        <div class="button">
            <button id="login" type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
            </button>
            <button id="back" type="button">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Back
            </button>
        </div>
        </form>
    </div>
    <script type="module">
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.querySelector('form');
            form.addEventListener('submit', async function (event) {
                event.preventDefault();
                const email = document.querySelector('input[name="email"]').value;
                try {
                    const response = await fetch('/api/v1/auth/forget-password', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ email }),
                    });
                    if (response.ok) {
                        const data = await response.json();

                        if (data.status === 'success') {
                             //window.location.href = '/';
                             console.log("Thanh cong!");
                        } else {
                            
                        }
                    } else {
                        
                    }
                } catch (error) {
                    console.error('Error during login:', error);
                    
                }
            });

            const backButton = document.getElementById('back');
            backButton.addEventListener('click', function () {
                window.history.back();
            });
        });
    </script>
</body>
</html>
